html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	background: #000515;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
}

canvas {
	width: 1000px;
	height: 750px;
}

#center_element {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 750px;
    margin-top: -375px; /*set to a negative number 1/2 of your height*/
    margin-left: -500px; /*set to a negative number 1/2 of your width*/
    border: 2px solid #ccc;
    background-color: #000515;
}

#maze_element {
    position:absolute;
}

#timer {
    position:absolute;
    width: 255px;
    height: 50px;
    top: 50px;
    left: 800px;
	font: 26px/26px Georgia, Garamond, Serif;overflow:auto;
	color: #ccc;
	text-align: center;
}

#resources_text {
	position: absolute;
	width: 950px;
	height: auto;
	top: 10px;
	left: 25px;
	font: 16px/26px Georgia, Garamond, Serif;overflow:auto;
	color: #ccc;
}

#scene_text {
	position: absolute;
	width: 950px;
	height: auto;
	left: 25px;
	bottom: 200px;
	font: 16px/26px Georgia, Garamond, Serif;overflow:auto;
	color: #ccc;
}

#scene_image {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
/*	top: 50px;
	left: 50px;
*/}

#button1 {
	position: absolute;
	bottom: 125px;
	top: 575px;
	width: 950px;
	left: 25px;
	margin: 5px 0px 5px 0px;
}

#button2 {
	position: absolute;
	bottom: 75px;
	top: 625px;
	width: 950px;
	left: 25px;
	margin: 5px 0px 5px 0px;
}

#button3 {
	position: absolute;
	bottom: 25px;
	top: 675px;
	width: 950px;
	left: 25px;
	margin: 5px 0px 5px 0px;
}